<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/head :: main-header('Hello World')"></head>-->
<!--<body>-->

<!--<nav th:replace="fragments/navbar :: mainNavbar"></nav>-->

<!--<div>-->
    <!--<p th:text="${name}"></p>-->
<!--</div>-->

<!--<div class="days">-->

    <!--<p th:if="${rainy == true}">-->
        <!--Bring an umbrella-->
    <!--</p>-->

    <!--<p th:unless="${rainy == true}">-->
        <!--Wear shorts-->
    <!--</p>-->

    <!--&lt;!&ndash;Another way to do it&ndash;&gt;-->
    <!--&lt;!&ndash;<p th:if="${rainy != true}">&ndash;&gt;-->
    <!--&lt;!&ndash;Wear shorts&ndash;&gt;-->
    <!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--</div>-->

<!--&lt;!&ndash;The th:each attribute repeats the tag as many items exists in the list &ndash;&gt;-->
<!--<ul th:if="${names.size() != 0}">-->
    <!--<li th:each="nm : ${names}" th:text="${nm}"></li>-->
<!--</ul>-->


<!--</body>-->
<!--</html>-->